container .logo img{
  height: 100px;
  width: 80px;
  float: left;
  
}
.container .footer a,p{
  color: dark;
  text-decoration: none;
}
.container .navbar header a{
  color: white;
  text-decoration: none;
}

}